body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fila
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.celda
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    border-color: brown;
    background-color: aquamarine;
    width: 50px;
    height: 50px;
}

.celdaManzana
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 50%;
    border-color: brown;
    background-color: rgb(255, 0, 0);
    width: 30px;
    height: 30px;
}

.celdaSerpiente
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 6px;
    border-color: brown;
    background-color: rgb(0, 255, 13);
    width: 50px;
    height: 50px;
}

.puntuacion
{
    font-size: 100px;
}